<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemwideLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SystemwideLauncher.Properties.Settings>
            <setting name="SystemwideProcessName" serializeAs="String">
                <value>Reference 4 Systemwide</value>
            </setting>
            <setting name="SystemwideExe" serializeAs="String">
                <value>C:\Program Files\Sonarworks\Reference 4\Systemwide\Reference 4 Systemwide.exe</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="WaitTimeToClose" serializeAs="String">
                <value>5000</value>
            </setting>
        </SystemwideLauncher.Properties.Settings>
    </applicationSettings>
</configuration>